<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <title>Converter</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../css/styles.css}" type="text/css" media="all">
</head>
<header th:fragment="header">
    <h1>Converter history</h1>
    <span style = "float: right">
    <a href="?language=en">en</a>
    <a href="?language=ru">ru</a>
    </span>
</header>
<br>
<br>
<br>
<tbody>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<div class = "historyTable"></div>
<tr th:each="str: ${historyList}">
    <td th:text="${str.inputString}"></td>
    <td th:text="${str.convertedString}"></td>
    <br>
</tr>
<script src="../js/historyScript.js"></script>
</tbody>
</html>